<div id="username-page">
    <div class="username-page-container">
        <div class="connect" >
            <button type="button" style="float: right;" (click)="logout()" class="btn btn-default">Logout</button>

        <h1 class="title">User Statistics</h1>
        <div class="container">
            <div class="row">
              <div class="col-md-3"><h5>Created user:</h5></div>
              <div class="col-md-3"><h6>{{createdUser}}</h6></div>
              <div class="col-md-3"><h5>Logined user:</h5></div>
              <div class="col-md-3"><h6>{{loginUser}}</h6></div>
            </div>
        </div>
    </div>
    
    </div>
</div>